/*General*/
* {
    box-sizing: border-box;
}
html{
	position: relative;
	min-height: 100%;
}
body{
	background-color: #707070;
	color: #707070;
	margin-bottom: 2em;
}
/*Header*/
.header{
	width: 100%;
	height: auto;
	background-color: #4d4d4d;
	border-bottom: 2px solid #adef04;
	margin-bottom: 2em;
}
#navi{
	align-items: center;
}
#logo{
	display: flex;
	float: left;
	width: 100%;
	background-color: #adef04;
	color: #4d4d4d;
	justify-content: center;
	align-items: center;
	font-size: 3em;
}
#logo:hover{	
	background-color:#6c9600;
	text-decoration: none;
}
.nav_link{
	color: #adef04;
	display: inline-flex;
	margin-left:2%;
}
.nav_link:hover{
	color: #6c9600;
	text-decoration: none;
}
.nav_link:visited{
	text-decoration: none;
	color: #adef04;
}
/*Section*/
.main,
.aside{
	background-color: #ffffff;
	box-shadow: 5px 5px 10px 5px rgba(66,66,66,0.75);
}
.aside{
	width: 100%;
	max-height: 125px;
}
#pagePic{
	max-width: 200px;
	border:none;
	float: left;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
.img_connect{
	max-width: 50px;
}
.text_img{
	position: relative;
	margin-left: 10%;
	width: 35%;
	display: inline-flex;
}
.connect{
	display: flex;
	justify-content: center;
	align-items: center;
}
.img-fluid{
	width: 100%;
	height: 100%;
}
h3{
	width: 100%;
	background-color: #adef04;
	height: 2rem;
	display: flex;
    align-items: center;
    justify-content: center;
	position: absolute;
	bottom:1rem;
	font-size: 1rem;
}
h2{
	font-size: 1.5rem;
	justify-content: center;
	align-items: center;
}
/*Footer*/
.footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	max-height: 60px;
	background-color: #4d4d4d;
}
.copyright{
	justify-content: center;
	align-items: center;
}
@media screen and (max-width: 752px){
	.text_img{
		display: flex;
		width: 90%;
		margin-left: 5%;
	}
}